<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar") %>
    <main class="container mt-5">
      <h1>Create a new test</h1>
        <form
          action="/tests"
          method="post"
          class="validated-form"
          novalidate
        >
          <div class="mb-3">
            <label for="test" class="form-label">Enter test title:</label>
            <input
              type="text"
              name="test[title]"
              id="title"
              placeholder="title"
              class="form-control"
              required
            />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <label for="test" class="form-label">Enter test description:</label>
            <textarea
              name="test[description]"
              id="description"
              cols="30"
              rows="10"
              class="form-control"
              required
            ></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <button class="btn btn-success m-2">Submit</button>
        </form>
        <a class="btn btn-primary m-2" href="/tests">Back to index</a>
    </main>

    <%- include("../partials/footer") %>
    <%- include("../partials/scripts") %>
    
  </body>
</html>
