<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>

  <body class="d-flex flex-column vh-100">
    <%- include("./partials/navbar") %>
    <main class="container mt-5">
      <h1 class="offset-3">Test documentation</h1>
      <h2>What is Test Documentation?</h2>  
      <p>Test documentation is documentation of artifacts created before or during the testing of software. It helps the testing team to estimate testing effort needed, test coverage, resource tracking, execution progress, etc. It is a complete suite of documents that allows you to describe and document test planning, test design, test execution, test results that are drawn from the testing activity.</p>
      <h2>Best practice to Achieve Test Documentation</h2>
      <ul>
        <li>QA team needs to be involved in the initial phase of the project so that Test Documentation is created in parallel</li>
        <li>Don’t just create and leave the document, but update whenever required</li>
        <li>Use version control to manage and track your documents</li>
        <li>Try to document what is needed for you to understand your work and what you will need to produce to your stakeholders</li>
        <li>You should use a standard template for documentation like excel sheet or doc file</li>
        <li>Store all your project related documents at a single location. It should be accessible to every team member for reference as well as to update when needed</li>
        <li>Not providing enough detail is also a common mistake while creating a test document</li>
      </ul>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
